
.container {
  width: auto;
  height: 80px;
  overflow: hidden;
  background: rgb(180, 215, 236);
  border: 1px solid white;
  margin: 10px;
  padding-left: 20px;
  border-radius: 5px 5px 10px 10px;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25),
    inset 0 2px 5px rgba(255, 255, 255, 0.6),
    0 2px 0 rgba(0,0,0,0.1),
    inset 0 0 5px rgba(0,0,0,0.1);
}
.container a {
  text-decoration: none;
}

.container a:link {
  color: white;
}
.container p {
  padding: 5px;
  margin: 0;
}
.container a:visited {
  color: rgb(255, 161, 115);
}

.container::after {
  content: '';
  width: auto;
  height: 80px;
  display: block;
  opacity: 0.7;
}

.container:hover {
  background: rgba(180, 215, 236, 0.7);

}
.container:active {
  transition-duration: 1S;
  transition-timing-function: ease-in-out;
  transition-delay: 1.5S;
  box-shadow: inset 0 3px 10px 0 rgba(0,0,0,0.2),
    0 -2px 0 rgba(255,255,255,0.6),
    inset 0 2px 0 rgba(0,0,0,0.1);
}
