/*body {
  background: url(../imgs/background/clean_textile.png);*/
  /*font: 1em Tahoma,Arial;
}*/

.container {
  text-align: center;
  width: calc(100% - 60px);
  height: auto;
  /*height: 70vh;*/
  padding: 30px;
  padding-top: 5px;
  margin: 0;
  position: relative;
  overflow: hidden;
  /*overflow-y: auto;*/
}
/*
.container::after {
  width:90%;
  height: 80px
}*/
