.container {
  composes: container from './IssuesPage.css';
  text-align: left;
  color: rgb(110, 145, 166);
}

.container a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.container a:link,
.container a:visited {
  color: rgb(160, 195, 216);
}

.container a:hover {
  color: rgb(110, 145, 166);
  cursor:pointer;
  text-shadow: none;
  transform: scale(1.2);
}

.container:active {
  transition-duration: 1S;
  transition-timing-function: ease-in-out;
  transition-delay: 1.5S;
}

/* state */
.header {
}

.open {
  display: inline-flex;
  padding: 5px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid rgb(160, 195, 216);
  color: #0a0;
}

.closed {
  composes: open;
  color: #f00;
}

.default {
  composes: open;
  color: rgb(160, 195, 216);
}
