/*body {
  background: url(./background/clean_textile.png);*/
  /*font: 1em Tahoma,Arial;
}*/

.container {
  text-align: center;
  width: 90%;
  height: auto;
  /*height: 70vh;*/
  padding: 30px;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
/*
.container::after {
  width:90%;
  height: 80px
}*/
