.form {
  display: block;
  text-align: left;
}

input {
  width: 100%;
}

.submit {
  float:right;
  box-sizing: border-box;
}
.submit button {
  background-color: rgb(68, 179, 246);
  color: white;
  height: 2.286em;
  border-radius: 4px;
  opacity: 1;
}

.submit button:disabled {
    opacity: 0.5;
}
