.container {
  background: rgba(68, 179, 246, 0.5);
  color: #fff;
  border-radius: 10px;
  float: right;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.container select {
  font-size: 100%;
  appearance: none;
  background: rgba(68, 179, 246, 0.5);
  color: #fff;
  border: 1px solid rgba(255,255,255,0.5);
  margin-left: 10px;
  border-radius: 5px;
}
.container option {
  appearance: none;
  font-size: 100%;
  }
.container option:checked,
.container select option:hover {
  background: rgb(68, 179, 246);
  color: #fff;
}
